# SQL Server cho docker-compose
MSSQL_SA_PASSWORD=YourStrongPasswordHere
SQLSERVER_PORT=18433

# Redis cho docker-compose
REDIS_PORT=6379

# CommentAPI container cho docker-compose
COMMENTAPI_PORT=8080
ASPNETCORE_ENVIRONMENT=Development
COMMENTAPI_DOCKER_DEFAULT_CONNECTION=Server=sqlserver,1433;Database=HICAS_Comment_API;User Id=sa;Password=YourStrongPasswordHere;TrustServerCertificate=True;MultipleActiveResultSets=True
COMMENTAPI_DOCKER_REDIS_CONNECTION=redis:6379
