ConnectionStrings__DefaultConnection=Server=localhost,18433;Database=HICAS_Comment_API;User Id=sa;Password=YourStrongPasswordHere;TrustServerCertificate=True;MultipleActiveResultSets=True
ConnectionStrings__Redis=localhost:6379
